*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 0.5rem solid blue;
}

html {
    font-size: 62.5%;
}

body {
    background: #FEAC5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 4rem;
    width: 100%;
}

.popup{
    width:50rem;
    height:30rem;
    position:fixed;
    z-index: 1;
    top:20%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #F6F6F6;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.3);
    border-radius:0.5rem;
    display:none;
    animation-name: added;
    animation-duration: 2s;
    animation-fill-mode: both;
    color: green;
    font-weight: 500;
    font-size: 130%;
    font-weight: 400;

}

@keyframes added {
    0%{
        opacity:0;
        transform:translateY(2rem);
    }
    20%{
        opacity: 1;
        transform:translateY(0);
    }
    80%{
        opacity: 1;
        transform:translateY(0);
    }
    100%{
        opacity: 0;
        transform:translateY(0);

    }
}

main {
    width: 60%;
    height: 100%;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50rem 50rem;
    gap: 1rem;
}

.game {
    width: 100%;
    height: 100%;
    background: #F6F6F6;
    list-style: none;
    position: relative;
}

.a-popup {
    animation-name: popup;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-fill-mode: backwards;
}


.game--first {
    grid-column: 1 /2;
    grid-row: 1/2;
    border-top-left-radius: 0.5rem;
    overflow: hidden;
    animation-delay: 0.2s;
}

.game--second {
    grid-column: 2/3;
    grid-row: 1/2;
    animation-delay: 0.3s;

}

.game--third {
    grid-column: 1/3;
    grid-row: 2/3;
    border-bottom-left-radius: 0.5rem;
    animation-delay: 0.5s;


}

.game__figure {
    width: 100%;
    height: 60%;
}


.game__figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.game__body {
    height: 40%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
}

.game__body h2 {
    font-size: 300%;
    font-weight: 700;
}

.game__body h3 {
    font-size: 120%;
    font-weight: 400;
}

.game__body div {
    color: gold;
    font-size: 130%;
}


.game__body button {
    width: 20rem;
    border: none;
    font-size: 90%;
    font-family: 'Lato', sans-serif;
    color: white;
    background: black;
    padding: 1rem 2rem;
}

button:hover {
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 5rem;
    right: 5rem;
    background: black;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: none;
    color: white;
    z-index: 2;
    font-size: 100%;
}

.cart__message {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: linear-gradient(to left, #4BC0C8, #C779D0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 0.2rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.shoppingCartModal {
    background: white;
    width: 70%;
    height: 80%;
    background: #F6F6F6;
    padding: 4rem;
    display: none;
}

.shoppingCartModal__list {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 20rem);
}

.shoppingCartModal__listItem {
    list-style: none;
    width: 100%;
    height: 100%;
    border-bottom: 0.3rem solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.shoppingCartModal__listItem img {
    height: 100%;
    width:auto;
    object-fit: contain;
}

@media screen and (max-width:62.5rem) {
    body{
        padding:1rem;
    }
    main{
        width:100%;
    }
    .shoppingCartModal{
        width:100%;
    }
    .shoppingCartModal__list{
        grid-template-rows: repeat(3, 40rem);
    }
    .shoppingCartModal__listItem{
        flex-direction: column;
        gap:2rem;
        padding-bottom:2rem;
    }
    .shoppingCartModal__listItem img {
        height: 100%;
        width:100%;
        object-fit: contain;
    }
    .games {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50rem 50rem 50rem;
        gap: 1rem;
    }
    .game{
        grid-column: span 1;
        grid-row: span 1;
    }
    .a-popup{
        animation-name: "no-animation";
        animation-duration:0s;
    }
    .popup{
        width:80%;
    }
}

@keyframes popup {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);

    }
}

